@font-face {
  font-family: 'AvenirNextCyr';
  src: local('AvenirNextCyr'), local('AvenirNextCyr-Regular'),
url('AvenirNextCyr-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvenirNextCyr Black";
  src: local("AvenirNextCyr Black"), local("AvenirNextCyr-Black"),
url('AvenirNextCyr-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "AvenirNextCyr Demi";
  src: local("AvenirNextCyr Demi"), local("AvenirNextCyr-Demi"),
url('AvenirNextCyr-Demi.ttf') format("truetype");
  font-style: normal;
  font-weight: 700;
}
