$default_red_color: #b71c1c;
$hover_red_color: #ff443d;
$active_red_color: #ab1919;
$transparent_red_color: #EBC3C3;
$default_green_color: #4caf50;
$hover_green_color: #54c159;
$active_green_color: #459e49;
$transparent_green_color: #C3EBC4;
$default_blue_color: #4990e2;
$default_orange_color: #f6a623;
$default_dark_gray_color: #1F1F1F;
$default_gray_color: #3E3E3E;
$default_gray_title_color: #9B9B9B;
$transparent_gray_color: #d8d8d8;

$default_shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

$default_font: 'AvenirNextCyr', serif;
$default_bold_font: 'AvenirNextCyr Black', serif;
$default_demi_font: 'AvenirNextCyr Demi', serif;
